@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #EDEFF2;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

