#textInput {
    width: 460px;
    height: 40px;
    border: 1px solid #DFDFDF;
    border-radius: 10px 0 0 10px;
    padding: 8px 50px 8px 20px;
    outline: none;
}

#searchButton {
    background: #F1F1F1;
    width: 75px;
    height: 40px;
    border: 1px solid #DFDFDF;
    border-radius: 0 10px 10px 0;
}

#clearButton, #searchButton, #btnMore {
    outline: none;
}

#dropDown {
    width: 460px;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

#dropDown li {
    padding: 6px 20px;
    text-decoration: none;
    display: block;
    line-height: 20px;
}

#dropDown li:hover, #dropDown li:active {
    background-color: #F6F6F6;
    cursor: pointer;
}

#addElement {
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    outline: none;
    background: #4263EB;
    border-radius: 8px;
    padding: 11px 32px;
}


