#close-btn {
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 11px 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    outline: none;
    color: #464646;
}

#submit-delete {
    background: #4263EB;
    border-radius: 7px;
    border: none;
    padding: 11px 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    outline: none;
}

.desc-delete {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #464646;
}
