.title-edit {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #464646;
}

.modal-wrapper {
    box-shadow: 0 24px 110px rgba(18, 27, 33, 0.25);
    border-radius: 25px;
}

.input-wrapper input {
    width: 430px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #464646;
    padding: 10px 12px;
    outline: none;
}

#close-btn {
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 11px 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    outline: none;
    color: #464646;
}

#submit-save {
    background: #4263EB;
    border-radius: 7px;
    border: none;
    padding: 11px 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    outline: none;
}

.close-btn {
    outline: none;
}
