.active-section {
    background: #4263EB;
    border-radius: 5px 0 0 5px;
    width: 6px;
    height: 100%;
}

.active-section {
    display: none;
}

.active .active-section {
    display: block;
}
