.wrap-form {
    box-shadow: 0 24px 110px rgba(18, 27, 33, 0.25);
    border-radius: 25px;
    padding: 50px;
}

.wrap-form-login {
    min-height: 45.3vh;
    width: 23.4vw;
}

.wrap-form-reg {
    min-height: 54.4vh;
    width: 31.8vw;
}

.title-login {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #464646;
}

.subtitle-login {
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
    color: #3F5FDF;
}

.uncorrected-data {
    background: rgba(239, 90, 90, 0.1);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #EF5A5A;
}

.description {
    background: rgba(172, 181, 189, 0.1);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #464646;
}

.title-fields {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ACB5BD;
}

#login-input, #password-input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #464646;
    padding: 10px 12px;
    outline: none;
}

.remember-wrapper {
    margin-bottom: 50px;
}

.remember {
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

.remember input:checked ~ .checkmark {
    background-color: #4263EB;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.remember input:checked ~ .checkmark:after {
    display: block;
}

.remember .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#submit-login {
    background: #4263EB;
    border-radius: 7px;
    border: none;
    padding: 15px 0;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    outline: none;
}

#check-email {
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 10px 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    outline: none;
    color: #464646;
}
