.th-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #D0D0D0;
    text-align: start;
    vertical-align: top;
}
thead tr {
    height: 62px;
}

tbody tr, thead tr {
    border-collapse: collapse;
    border-bottom: 1px solid #EAEAEA;
}

.td-text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #464646;
}

.th-avatar {
    width: 6.9%;
}

.th-fio {
    width: 24.2%;
}

.th-pos {
    width: 25.2%;
}

.th-status {
    width: 16.1%;
}

.th-email {
    width: 23.6%;
}

.th-more {
    width: 4%;
}

.points-more {
    color: #ACB5BD;
}


.points-more:focus {
    outline: none;
}

.points-more:after {
    content: '\2807';
    font-size: 32px;
}
