header {
    height: 8.8vh;
    border: 1px solid #DDE2E5;
}

.avatar {
    width: 45px;
    height: 45px;
}
.photo {
    width: 60px;
    height: 60px;
}
.avatar img, .card-img img, .photo img {
    border-radius: 50%;
}

.card-img {
    width: 152px;
    height: 152px;
    top: -75px;
}

.initials {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

#sidebar, #sidebar-emp-dir, #card-employee, #card-of-results, #card-of-no-results {
    height: 91.2%;
    bottom: 0;
}

#all-emp {
    width: 72.1%;
    top: 68px;
}

#sidebar-emp-dir, #card-employee, #card-of-results, #card-of-no-results {
    left: 80px;
}

.sidebar-emp-wrapper {
    width: 317px;
    border-radius: 20px;
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    height: 98.6%;
}

#all-emp {
    left: 405px;
    right: 8px;
}

.all-emp-wrapper {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #DDE2E5;
    box-sizing: border-box;

}

.sidebar-wrapper {
    width: 72px;
    border-radius: 0 20px 20px 0;
}

.sidebar-wrapper, .card-wrapper, .results-wrapper, .no-results {
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    height: 98.6%;
}

.card-wrapper, .results-wrapper, .no-results {
    width: 430px;
    border-radius: 20px;
}

.card-wrapper {
    padding: 32px 24px;
}

#btn-map, #btn-emp {
    padding: 5px 0;
    outline: none;
}

.substrate {
    background: rgba(247, 249, 252, 0.8);
    border-radius: 20px;
    width: 382px;
    height: 247px;
    margin-top: 75px;
}

.card-fio {
    padding-top: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #464646;
}

.status {
    padding-top: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #ACB5BD;
}

.unchange-stroke {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #ACB5BD;
}

.change-stroke {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #464646;
}

.title-res {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #464646;
}

.title-no-results {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #ACB5BD;
    padding: 0 24px;
}

.modal {
    max-height: 90vh;
    max-width: 45vw;
    outline: none;
    width: 100%;
    height: 860px;
}

.modal.edit {
    height: 860px;
}

.modal.delete {
    height: 329px;
    width: 710px;
}


.overlay {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.overlayModal {
    background: rgba(0, 0, 0, 0.1);
}

.text-def-sidebar {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #464646;
}

.text-directions {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ACB5BD;
}

.active.text-def-sidebar {
    color: #4263EB;
}

.menu {
    background: #FFFFFF;
    box-shadow: 0 4px 32px rgba(0, 16, 61, 0.16);
    border-radius: 0 0 10px 10px;
    width: 228px;
    height: 112px;
}

.menu-more {
    width: 250px;
    height: 122px;
    border-radius: 10px;
    z-index: 10;
}

.menu ul li {
    text-align: right;
    border-radius: 0 0 10px 10px;
}

.menu ul li:hover,  .menu ul li:active {
    background-color: #F6F6F6;
    cursor: pointer;
}



.text-edit {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.text-delete {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #EF5A5A;

}
