#mapWrapper {
    height: 91.2vh;
    bottom: 0;
}

.floor-of-map {
    width: 70%;
    height: 86%;
    padding: 0;
}

#sidebarFloor {
    height: 35.4vh;
    bottom: 4px;
    right: 0;
}

.sidebar-floor-wrapper {
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    width: 72px;
    height: 98.6%;
}

.text-scale-floor, .value-scale {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: #464646;
}

.value-scale {
    line-height: 19px;
}

#floorNumber {
    font-style: normal;
    font-weight: 800;
    line-height: 58px;
    text-align: center;
    color: #4263EB;
}

.block-result {
    height: 80px;
}

.names {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: #464646;
    margin-top: 6px;
    margin-bottom: 1px;
}

.position {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #ACB5BD;
    margin-bottom: 3px;
}

.floorNumber {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #ACB5BD;
}

.floorNumber .floor {
    color: #4263EB;
}

.line {
    border-bottom: 1px solid #F5F5F5;
    width: calc(100% - 50px);
}

.blue-request {
    color: #4263EB;
}
